<h1 mat-dialog-title>Issue new self-signed Certificate</h1>
<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="submit()" class="certificate-form">

      <div class="subject-group">
        <mat-form-field appearance="fill">
          <mat-label>Given Name</mat-label>
          <input matInput formControlName="givenName">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Organization (O)</mat-label>
          <input matInput formControlName="organization">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Department (OU)</mat-label>
          <input matInput formControlName="department">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Country (C)</mat-label>
          <input matInput formControlName="country" placeholder="e.g., RS">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="email" placeholder="e.g., ca@mycompany.com">
        </mat-form-field>
      </div>

    <h2 class="form-section-title">Validity Period</h2>
    <div class="date-group">
      <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
        <mat-error *ngIf="form.hasError('endBeforeStart') && form.get('endDate')?.touched">
          End date must be after start date.
        </mat-error>
      </mat-form-field>
    </div>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>SAN</mat-label>
        <input matInput formControlName="sanString" placeholder="Enter SAN" />
        <mat-error *ngIf="form.get('sanString')?.hasError('required')">
          SAN is required.
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="skiaki" class="checkbox-full-width">SKI/AKI</mat-checkbox>

      

    </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">Issue Certificate</button>
</div>
